:root {
    --red: #ff5252;
    --dark: #333;
    --white: #f2f2f2;
    --font-family: 'Lato', sans-serif;
    --font-weight-light: 100;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    --font-style-normal: normal;
    --font-style-italic: italic;
}

* {
    font-family: var(--font-family);
}


/*
    body
*/
body {
    background-color: var(--white);
}



/*
    about
*/
.name {
    font-weight: var(--font-weight-bold);
}

#about {
    font-weight: var(--font-style-normal);
}

#about>p {
    font-size: large;
    letter-spacing: 0.1rem;
}


/*
    download
*/
.download button {
    border: 0;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 0.7rem;
    font-weight: var(--font-weight-bold);
    font-size: medium;
    border-radius: 2px;
    letter-spacing: 0.1rem;
    background-color: var(--red);
    box-shadow: 3px 2px 0px rgba(0, 0, 0, 0.3);
}

.download button:hover {
    background-color: #eb4545;
}